# Lambdas

Lambdas are like closures in Swift. Annoymous, single use, or throwaway functions
---

```
lambda argument : expression
```

In [2]:
# write the lambda average that is passed two numbers and returns the average.

average = lambda num1, num2 : (num1 + num2)/2
print(average(10, 20))

Write a lambda that is passed 2 numbers and returns the greater of the 2 numbers

- use a turnery operator

```
a if condition else b
```

In [6]:
maximum = lambda num1, num2 : num1 if num1 > num2 else num2

print(maximum(1, 100))

100

Write a lambda named maximum that is passed two 'strings' will return the string with the longest length.

Syntax: len(thing)

In [5]:
maximum = lambda str1, str2 : str1 if len(str1) > len(str2) else str2

print(maximum("eli", "kevin"))

kevin

# Sort and Sorted

In [15]:
players = [("Hurts", 1, 50000000), ("Barkley", 26, 15000000), ("Eliot", 4, 5000000)]

# sort by number
players.sort(key = lambda player : player[1])

print(players)

# sort by salary
players.sort(key = lambda player : player[2])

print(players)

# sort by salary reversed
players.sort(key = lambda player : player[2], reverse = True)

print(players)

# sort in reverse order based on their name
players.sort(key = lambda player : len(player[0]), reverse = True)

print(players)

[('Hurts', 1, 50000000), ('Eliot', 4, 5000000), ('Barkley', 26, 15000000)]
[('Eliot', 4, 5000000), ('Barkley', 26, 15000000), ('Hurts', 1, 50000000)]
[('Hurts', 1, 50000000), ('Barkley', 26, 15000000), ('Eliot', 4, 5000000)]
[('Barkley', 26, 15000000), ('Hurts', 1, 50000000), ('Eliot', 4, 5000000)]