<a href="https://colab.research.google.com/github/elidresnin/AI-Projects/blob/main/LambdasAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambdas Assignment

1. Write the lambda average. This lambda should be passed three values and return their average.

In [1]:
average = lambda num1, num2, num3 : (num1 + num2 + num3)/3

print(average(1, 10, 100))

37.0

2. Write the lambda max. This lambda should be passed two values and return the greater of the two.

In [ ]:
maximum = lambda num1, num2 : num1 if num1 > num2 else num2

print(maximum(1, 100))

3. Write the lambda even. This lambda should be passed a number and return true if the parameter is even and false if it’s not.

In [3]:
even = lambda num1 : True if num1 % 2 == 0 else False

print(even(15))

False

4. The dictionary cars contains a collection of cars and their average MPG:
Sort the dictionary in descending order based on each car’s MPG.

In [5]:
cars = {
"Bronco": 18.7,
"Tacoma": 21,
"Wrangler": 15,
"F-350": 2
}

print(sorted(cars.items(), key = lambda item : item[1], reverse = True))

[('Tacoma', 21), ('Bronco', 18.7), ('Wrangler', 15), ('F-350', 2)]

5. The list of dictionaries states is shown below.
Sort the dictionaries alphabetically by their abbreviation.

In [8]:
states = [
{'state': 'Pennsylvania', 'abbreviation': 'PA', 'population': 12800000},
{'state': 'New Jersey', 'abbreviation': 'NJ', 'population': 8882000},
{'state': 'Maryland', 'abbreviation': 'MD', 'population': 6046000}
]
states.sort(key = lambda item : item['abbreviation'])
print(states)

[{'state': 'Maryland', 'abbreviation': 'MD', 'population': 6046000}, {'state': 'New Jersey', 'abbreviation': 'NJ', 'population': 8882000}, {'state': 'Pennsylvania', 'abbreviation': 'PA', 'population': 12800000}]

6. The list of dictionaries states is shown below: Sort the dictionaries in descending order based on the length of their name.

In [10]:
states = [
{'state': 'Pennsylvania', 'abbreviation': 'PA', 'population': 12800000},
{'state': 'New Jersey', 'abbreviation': 'NJ', 'population': 8882000},
{'state': 'Maryland', 'abbreviation': 'MD', 'population': 6046000}
]
states.sort(key = lambda item : len(item['state']), reverse = True)
print(states)

[{'state': 'Pennsylvania', 'abbreviation': 'PA', 'population': 12800000}, {'state': 'New Jersey', 'abbreviation': 'NJ', 'population': 8882000}, {'state': 'Maryland', 'abbreviation': 'MD', 'population': 6046000}]

7. The list of tuples states is shown below: Sort the tuples in ascending order based on their population.

In [11]:
states = [
('Pennsylvania', 'PA', 12800000),
('New Jersey', 'NJ', 8882000),
('Maryland', 'MD', 6046000)
]
states.sort(key = lambda item : item[2])
print(states)

[('Maryland', 'MD', 6046000), ('New Jersey', 'NJ', 8882000), ('Pennsylvania', 'PA', 12800000)]